.login {
    color:white;
    font-size: calc(10px + 2vmin);
    background-color: #151c37;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input-login{
    width: 300px;
    height: 30px;
    background-color: #2a2d36;
    border-color: white;
    color:white;
}
.login-btn{
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color:#E4D9FF;
    width: 300px;
    height: 40px;
    display: flex; /* เพิ่ม flexbox เพื่อจัดตรงกลางตามแนวตั้งและแนวนอน */
}
#font-btn{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    color:#30343F;
}
.link {
    color: white;
    text-align: center; /* จัดตรงกลางตามแนวนอน */
    font-size: 15px;
    display: flex; /* เพิ่ม flexbox เพื่อจัดตรงกลางตามแนวตั้งและแนวนอน */
    justify-content: center; /* จัดตรงกลางตามแนวนอน */
    align-items: center; /* จัดตรงกลางตามแนวตั้ง */
}
.no-acc{
    color:white;
    justify-content: center;
    align-items: center;
    font-size:15px;   
    text-align: center;
}
.border-login{
    background-color: #2a2d36;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 80vh;
    min-width: 80vh;
    flex-direction: column;
    border-radius: 50px;
}