.register {
    color:white;
    font-size: calc(10px + 2vmin);
    background-color: #151c37;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.input-register{
    width: 250px;
    height: 30px;
    background-color: #2a2d36;
    border-color: white;
    color:white;
}
.register-btn{
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color:#E4D9FF;
    width: 250px;
    height: 40px;

}
#font-btn{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    color:#30343F;
}
.border-register{
    background-color: #2a2d36;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 90vh;
    min-width: 80vh;
    flex-direction: column;
    border-radius: 50px;
}