.border-banner{
    background-color: #2a2d36;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 90vh;
    min-width: 80vh;
    flex-direction: column;
    border-radius: 50px;
}